@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: whitesmoke;
}

.header {
    height: 400px;
    background-image: url("../Images/coffee-bgnd.jpeg");
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /*padding-top: 115px;*/

}

h1 {
    font-size: 80px;
    font-family: 'Covered+By+Your+Grace', cursive;
    color: rgb(3, 155,100, 0.75);
    text-align: center;
    /*margin: 50px;*/
    line-height: 400px;
}

